.home__container img {
  cursor: pointer;
}
.home__image {
  width: 100%;

  margin-bottom: -150px;
  margin-bottom: -20vh;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
}
.home__BGimages {
  /* This property is given to remove unknown effect */
  height: 0 !important;
  background-color: black;
}
.home__row {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
.ArrowBackIosIcon {
  color: #fff;
}

.home__button {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home__button button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 90px 20px;
}
.home__buttonRight {
  transform: rotate(180deg);
}
.home__buttonLeft:focus,
.home__buttonRight:focus {
  border: 2px white solid;
  border-radius: 5px;
  outline: 2px solid rgb(8, 182, 179);
}

@media (min-width: 1501px) {
  .home__container {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
}
